 <!--
     
     Sydney Huang 
     301068497
     COMP 229
     Web Application Development 
     Assignment 2
     October 23 2020

     -->
   <div class="container">
        <div class="jumbotron">
          <h1 class="display-4"><%= title %></h1>
          <h4>Welcome to my home page</h4>
         <p>Mission is to pass semester 3 with flying colours</p>

 <div class="card-body">
    <img src="/Pictures/Art.jpg" class="card-img-top" alt="Self-icon">
      <p>art by Sydney Huang</p>
      </div>
    </div>