
    <nav class="navbar fixed-bottom navbar-dark bg-info">
        <h4 class="h4 navbar-text">&copy; Copyright 2020.</h4>
    </nav>

<!-- JavaScript Section --> 
    <script src="./jquery/dist/jquery.min.js"></script>
    <script src="./bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./Scripts/app.js"></script>
  </body>
</html>