 <!--
     
     Sydney Huang 
     301068497
     COMP 229
     Web Application Development 
     Assignment 2
     October 23 2020

     -->
     <div class="container">
  <div class="row">
    <div class="col">
      <div>
        <h1 class="display-4">Add Contact</h1>
        <hr class="my-4">
      </div>
    </div>
  </div>
</div>
     <div class="row justify-content-md-center">
    <div class="col-8">
        
        <form method="POST">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" aria-describedby="name" 
              name="name" placeholder="Enter Buisness Name"
              required>
            </div>

            <div class="form-group">
                <label for="number">Phone Number</label>
                <input type="text" class="form-control" id="number" aria-describedby="number" 
                name="number" placeholder="Enter Buisness Number"
                required>
              </div>
              
              <div class="form-group">
                <label for="email">Email Address</label>
                <textarea class="form-control" id="email" rows="3"
                name="email" placeholder="Enter Buisness Email" required
                ></textarea>
              </div>
            
            <button type="submit" class="btn btn-primary btn-lg"><i class="fas fa-plus-circle"></i> Add Buisness Contact</button>
            <a href="/buisness-list" class="btn btn-warning btn-lg"><i class="fas fa-undo"></i> Cancel</a>
          </form>

    </div>
</div>

